<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts.css" media="(prefers-color-scheme: light)"> -->
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts_dark.css" media="(prefers-color-scheme: dark)"> -->
<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts-3d.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- for nemo charts see assets/js/nemo_stat.js -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/nemo_stat.js"></script>
