<head>
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts.css" media="(prefers-color-scheme: light)"> -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts_dark.css" media="(prefers-color-scheme: dark)"> -->
  <script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_options.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_today_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_day_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_site_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_field_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_type_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_rv_usage.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_rv_lastyear.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_rv_top10.js"></script>
  <!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/nemo_options.js"></script> -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/nemo_hide_chart_button.js"></script>
</head>