<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts.css" media="(prefers-color-scheme: light)"> -->
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highcharts_dark.css" media="(prefers-color-scheme: dark)"> -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-{{ site.jqver }}.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/highstock-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/highcharts-3d-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/highcharts-more-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/solid-gauge-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/data-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/exporting-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/offline-exporting-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/export-data-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/accessibility-{{ site.hcver }}.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/annotations-{{ site.hcver }}.js"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/highcharts/code/boost-{{ site.hcver }}.js"></script> -->
<!-- for nemo charts see assets/js/nemo_stat.js -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/nemo_stat.js"></script>
