{% assign menus = site.data.[page.menubar] %}

<aside class="menu">
{% for menu in menus %}
    <p class="menu-label">{{ menu.label }}</p>
    <ul class="menu-list">
        {% for item in menu.items %}
        <li>
            {% if item.link %}
            <a href="{{ item.link | relative_url }}" class="{% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
            {% elsif item.extlink %}
            <a href="{{ item.extlink }}" target="_blank"><em>{{ item.name }}</em></a>
            {% endif %}
            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                {% if subitem.link %}
                <li><a href="{{ subitem.link | relative_url }}" class="{% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a></li>
                {% elsif subitem.extlink %}
                <li><a href="{{ subitem.extlink }}" target="_blank"><em>{{ subitem.name }}</em></a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}    
    </ul>
{% endfor %}
</aside>