{% if site.data.nemo_status.status != "success"
and site.data.nemo_status.date
and site.data.nemo_status.author
and site.data.nemo_status.title
and site.data.nemo_status.text %}
<article class="message is-{{ site.data.nemo_status.status }}">
    <div class="message-header pl-5">
        <p>{{ site.data.nemo_status.title }}</p>
        <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body has-text-centered" onclick="location.href='/nemo/stat/';">
        <strong>
            Published: {{ site.data.nemo_status.date | date: "%-d %b %Y" }}
            by
            {{ site.data.nemo_status.author }}
        </strong>
        <br /><br />
        {{ site.data.nemo_status.text }}
    </div>
</article>
{% endif %}