div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}

.content {
    figure {
        margin: 0;
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.75rem;
    }
}

// Alpine.js hide on initial load
[x-cloak] { display: none !important; }

.center-image {
    margin: 0 auto;
    display: block;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: light-grey;
}

// change highcharts data table
// change numbers display in table
.number {
    background-color: $table-body-background-color;
    display: table-cell;
}
// add data tables in bulma table container
.highcharts-data-table {
    @extend .table-container;
    @extend .table;
    @extend .is-striped;
    @extend .is-hoverable;
    @extend .is-fullwidth;
}

// dynamic tabs (active on click)
#tab-contentq p {
    display: none;
}
#tab-contentq p.is-active {
    display: block;
}
#tab-contentu p {
    display: none;
}
#tab-contentu p.is-active {
    display: block;
}
#tab-contentp p {
    display: none;
}
#tab-contentp p.is-active {
    display: block;
}
